<footer class= "fixed-footer">

           <div class="footer"> Copyright © 2019 SindhuraM. All rights reserved.<br>
            <a> Privacy Satement</a> | <a> Terms of Use </a>
          </div> 
        
        <!-- <a href="#"> <img src="assets/img/youtube.png" alt="youtube"/> </a>
        <a href="#"> <img src="assets/img/twitter.png" alt="twitter" /> </a>
        <a href="#"> <img src="assets/img/linkedin.png" alt="linkedin"/> </a>
        <a href="#"> <img src="assets/img/facebook.png" alt="facebook" /> </a>
 -->

      </footer>
      